<%= form_for @note,:html => {:multipart => true} do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
		<h1 class="lead">What are you thankful for?</h1>
    <%= f.text_area :content, :rows => "5", :maxlength => 200, :class => "message" %></br>
		<span class="countdown"></span>
  </div>
  <div class="field">
		<i class="icon-camera icon-2x"></i>
    <%= f.file_field :image %>
  </div>
	
	<% if @note.image_url.present?%>
	Current photo:</br>
		<%= image_tag @note.image_url.to_s %>
	<% end %>
  <!-- <div class="field">
    <%= f.label :tags %><br />
    <%= f.text_field :tags %>
  </div> -->
  <div class="field">	
	<%= f.hidden_field :user_id %>
	</div>
  <div class="actions">
    <%= f.submit "Update Thank You Note", :class => "btn-share-thanks" %>
  </div>
<% end %>
