</br>
</br>
<div class="row span6">
		<% if current_user == @note.user %>
		<div class="addthis_toolbox custom_images center-content">
			<a class="addthis_button_email lead">Is this a personal thank you?</br>
				Email it to that person >> <%= image_tag('email_icon_share_green.svg')%></a>
		</div>
		<div class="content-separator"></div>
		<% else %>
			<div class="lead">
			<%= link_to 'Did this brighten up your day? It is your turn to send someone a simple thank you note >>', new_user_registration_url %>
			</div>
		<% end %>
				<div class="thank-you-note-container">
					<% if @note.image.present?%>
						<%= image_tag(@note.image_url.to_s, :class =>"image") %>
					<% else%>
						
					<% end %>
					<div class="row">
						<div class="love-container">
								<% if current_user && @note.was_voted_by?(current_user) %>
									<!-- loved! -->
									<%= image_tag('heart-icon.svg')%></br>
									<%= @note.reputation_for(:votes).to_i %>
						
								<% else %>
									<!-- love it! -->
									<%= link_to (image_tag('heart-icon.svg')), vote_note_path(@note, type: "love it!"), method: "post" %></br>
									<%= @note.reputation_for(:votes).to_i %>
								<% end%>
						</div>
						<div class="content-container">
							<div class="content-text">
								<%= @note.content %>
								<% if current_user == @note.user%>
								
								<% else %>
									</br>
									- <%= @note.user.name %>
								<% end %>
							</div>
						</div>
						<div class="share-container">
							share</br>
								<!-- AddThis Button BEGIN -->
								<div class="addthis_toolbox custom_images ">
									<a class="addthis_button_twitter"><%= image_tag('twitter-icon-share.svg', :class =>"share-icons")%></a>
									<a class="addthis_button_facebook"><%= image_tag('facebook-icon-share.svg', :class => "share-icons")%>
									</a>
									<a class="addthis_button_pinterest_share"><%= image_tag('pinterest-icon-share.svg')%>
									</a>
									<!-- <a class="addthis_button_email"><%= image_tag('email_icon.svg')%>
																			</a> -->
								</div>
								<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
								<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52034f6622311efe"></script>
								<!-- AddThis Button END -->
								<!-- <%= image_tag('twitter-icon-share.svg', :class =>"share-icons")%>
								<%= image_tag('facebook-icon-share.svg', :class => "share-icons")%>
								<%= image_tag('pinterest-icon-share.svg')%> -->
						</div>
					</div>
				</div>

			

</div>