<div class="name-on-profile">
	<%= @user.name %> 
</div> 
<div class="thanks-count">
	Thanks shared: (<%= @count_user_notes.to_i %>)</br></br>
	Appreciated my thanks (<%= current_user.reputation_for(:votes).to_i %>)
</div>

<div class="content-separator"></div>


<div class="span7">
	<div class="content-separator"></div>
	<h1 class="lead">My Gratitude - What I'm Thankful For:</h1>
	<div class="content-separator"></div>
</div>
	<div class="row span6">
				<% @user_notes.each do |my_note| %>
					<div class="thank-you-note-container">
						<% if my_note.image.present?%>
							<%= image_tag(my_note.image_url.to_s, :class =>"image") %>
						<% else%>
							
						<% end %>
						<div class="row">
							<div class="love-container">
								<% if current_user && my_note.was_voted_by?(current_user) %>
									loved!
									<%= image_tag('heart-icon.svg')%></br>
									<%= my_note.reputation_for(:votes).to_i %>
						
								<% else %>
									love it!
									<%= link_to (image_tag('heart-icon.svg')), vote_note_path(my_note, type: "love it!"), method: "post" %></br>
									<%= my_note.reputation_for(:votes).to_i %>
								<% end%>

								<!-- love it!</br>
									<%= image_tag('heart-icon.svg')%> -->
							</div>
							<div class="content-container">
								<div class="content-text">
									<%= my_note.content %></br>
									<span class="content-hide-edit">
									<%= link_to edit_note_path(my_note) do %>
									  <i class="icon-edit icon-2x note-edit-icon"></i> 
									<% end %>
									</span>
								</div>
							</div>
							<div class="share-container">
								share</br>
									<%= image_tag('twitter-icon-share.svg', :class =>"share-icons")%>
									<%= image_tag('facebook-icon-share.svg', :class => "share-icons")%>
									<%= image_tag('pinterest-icon-share.svg')%>
							</div>
						</div>
					</div>


				<% end %>
				
	

	</div>